@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  color: white;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: rgb(35, 35, 35);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-h {
  display: flex;
  justify-content: center;
}