@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
  margin: 0%;
  padding: 0%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}