@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.search-btn {
  border: none;
  background-color: rgb(66, 66, 66);
  font-size: 15px;
  color: #a9a9a9;
  padding: 7px;
  width: 5em;
  border-radius: 3px;
  margin-left: 1em;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #333;
}

.front {
  width: 100%;
  height: 500px;
  background-color: rgb(35, 35, 35);
  color: white;
  font-size: 20px;
}

.stats-list {
  font-family: 'Source Sans Pro';
  margin: 0%;
  padding: 8px;
  list-style-type: none;
  text-align: center;
}

.stats-list li {
  display: inline-block;
  padding: 22px;
}