nav {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  background: #333;
  color: white;
}

nav ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0%;
}

nav ul li {
  float: right;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

nav ul li h1 {
  margin: 0%;
}

nav ul li a {
  color: white;
  text-decoration-line: none;
}

.search {
  width: 20em;
  border: none;
  border-radius: 3px;
  height: 2em;
  background-color: rgb(66, 66, 66);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: width 0.5s;
}

.search:focus {
  width: 21em;
}